<div class="container border border-primary">

    <h1>Data Binding</h1>
    <ul>
        <li>One way data Binding</li>
        <ol>
            <li>Interpolation</li>
            <p>{{firstname}}  {{lastname}} {{age}}</p>
            <p>{{6+11}}</p>

            <li>Property Binding</li>
            <input type="text" [value]="firstname">
            <input type="number" [placeholder]="age">
            
            <li>Event Binding</li>
            <button class="btn btn-primary" (dblclick)="showAlert()">Cli
                
                ck</button>

            <li>Style Binding</li>
            <p [style.color]="color">Property Binding</p>
            <h1 [style.border]="border">Hello</h1>


        </ol>
        <li>Two way data Binding</li>
        <input type="text" [(ngModel)]="firstname">
    </ul>

</div>