<h1 class="">Hello {{firstName}}</h1>
<app-about></app-about>
<product></product>
<category></category>
<h1 class="bg-success text-white">Bootstrap</h1>
<app-data-binding></app-data-binding>
<app-addition></app-addition>
<app-pipe-examples></app-pipe-examples>
<app-directives-example></app-directives-example>
<app-switchexample [requestStatus]="'rejected'"></app-switchexample>
<app-switchexample [requestStatus]="'pending'"></app-switchexample>
<app-switchexample [requestStatus]="'rejected'"></app-switchexample>
<app-parent></app-parent>
<app-attributedirectives></app-attributedirectives>